.portfolio__categories {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
h2 {
  margin-bottom: 40px;
}
.project-title {
  margin-left: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}
.project-desc {
  margin-left: 10px;
  margin-bottom: 30px;
}

.btn.cat__btn {
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 19px;
  transition: var(--transition);
}

.btn.cat__btn:hover {
  transform: translateY(-0.5rem);
  color: var(--color-black);
}

.portfolio__projects {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5rem;
}

.card.portfolio__project {
  padding: 0.75rem;
  margin-bottom: -2.5rem;
  animation: animateProject 800ms ease-in forwards;
}

@keyframes animateProject {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.portfolio__project-image {
  width: 100%;
  background: var(--color-light);
  border-radius: var(--border-radius-2);
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.portfolio__project-image img {
  width: 100%;
  height: 12rem;
  object-fit: fill;
}

.portfolio__project-cta {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.portfolio__project:hover .btn.sm {
  border-color: var(--color-white);
}

.portfolio__project:hover .btn.sm.primary {
  background: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1224px) {
  .portfolio__projects {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .btn.cat__btn {
    margin: -0rem;
  }
  .project-title {
    font-size: 1.2rem;
  }
  .project-desc {
    font-size: 0.8rem;
  }
  .card.portfolio__project {
    margin-bottom: 2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .portfolio__categories {
    gap: 0.6rem;
  }
  .portfolio__project-cta {
    font-size: 0.7rem;
    justify-content: center;
    margin-top: auto;
  }

  .btn.cat__btn {
    padding: 0.7rem 0.8rem;
  }

  .portfolio__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .project-title {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .project-desc {
    display: none;
  }
  #portfolio h2 {
    margin-top: 3rem;
  }
  .card {
    margin-bottom: 30px;
  }

  .card.portfolio__project {
    text-align: center;
    width: 290px;
    height: 300px;
    margin-bottom: 30px;
  }
  .portfolio__project-image img {
    width: 270px;
    height: 150px;
    object-fit: fill;
  }
}
