footer {
  background: var(--color-primary);
  /* padding-top: 2rem; */
  transition: var(--transition);
}

.footer__copyright {
  color: white;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
}
