.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  padding: 1rem;
}

.service{
  display: flex;
  flex-direction: row;
}

.card.service {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
  border-color: var(--color-light);
}
.card.service:hover {
  transform: translateY(-0.5rem);
  cursor: default;
  background-color: var(--color-light);
}

.service__icon {
  background: var(--color-white);
  padding: 0.6rem;
  margin-left: 1rem;
  border-radius: 150px;
  font-size: 1.4rem;
  margin-top: 25px;
  color: var(--color-primary);
  transition: var(--transition);
  border-color: var(--color-primary);
  border: 3px solid;
  display: flex;
}

.service:hover .service__icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.service h4 {
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.progress__container {
  height: 4;
  background-color: var(--color-primary);
  margin: 10;
}

.service__details {
  padding: 10px;
  width: 100%;
}
.percentage {
  margin-top: 10px;
  font-weight: bold;
  color: var(--color-primary);
}

/*TABLETS*/
@media screen and (max-width: 1445px) {
  .service__details p {
    text-align: left;
  }
}
@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

/*PHONES*/
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: auto;
  }

  .card.service {
    gap: 1.2 rem;
    padding: 0;
  }
  .service__icon {
    font-size: 2rem;
  }
}
