.about__container {
  display: grid;
  grid-template-columns: 50% 13% 25%;
  gap: 5%;
}

.about__portrait {
  height: fit-content;
  max-height: 100%;
  border: 1rem solid var(--color-white);
  border-radius: var(--border-radius-3);
  transition: var(--transition);
}

.about__portrait img {
  height: 27rem;
}

.about__portrait:hover {
  border-width: 0.5rem;
  transform: scale(1.05);
  /* border-color: var(--color-primary); */
}

.about__cards {
  margin: 2rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.about__card-icon {
  font-size: 1.8rem;
  color: var(--color-primary);
  border-radius: 150px;
  width: fit-content;
  margin-inline: auto;
  margin-top: -0.4rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.card.about__card:hover .about__card-icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.card.about__card h5 {
  margin: 0.5rem 0;
}

.about__left h1 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.about__left h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: silver;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.4;
}

.about__left .btn {
  margin-top: 2.5rem;
  margin-left: 3rem;
}

/*TABLETS*/
@media screen and (max-width: 1024px) {
  .about__right {
    display: none;
  }

  .about__container {
    display: flex;
    flex-direction: row;
  }
  .about__cards {
    padding: 1rem;
    margin-top: 0rem;
  }

  .card.about__card {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .about__left h1,
  h4 {
    text-align: center;
    padding: 1rem;
  }
}

/*PHONES*/
@media screen and (max-width: 600px) {
  .about__cards {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__left .btn {
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .about__left h1 {
    font-size: 2rem;
  }
  .about__left h4 {
    font-size: 1rem;
  }
}
