.contact__container {
  padding: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.contact__container a {
  width: 15rem;
  height: 5rem;
  color: white;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-1);
}

.contact__container a:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transform: translateY(-0.5rem);
}

.second_p {
  margin-top: -10px;
  margin-bottom: 0;
}

.first_h2 {
  margin-top: 20px;
}

/*PHONES*/
@media screen and (max-width: 1024px) {
  #contact {
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__container {
    gap: 1.5rem;
  }
  .contact__container a {
    width: 2rem;
    height: 5rem;
  }
  .contact__container {
    padding: 1rem;
  }
  .first_h2 {
    font-size: 1.5rem;
  }
  .second_p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 725px) {
  .contact__container {
    gap: 1.5rem;
  }
  .contact__container a {
    width: 2rem;
    height: 5rem;
  }
  .contact__container {
    padding: 1rem;
  }
  .first_h2 {
    font-size: 1.25rem;
  }
  .second_p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .first_h2 {
    font-size: 1.5rem;
    text-align: center;
    /* width: 85%; */
    margin-top: 5rem;
  }
}
