header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
}
.myName {
  font-size: 3.5rem;
}

.desc_p {
  font-size: 1.75rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", "Gill Sans",
    "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Times New Roman",
    Times, serif;
  color: var(--color-secondary);
  display: inline-block;
  border-right: 1px solid var(--color-secondary);
  animation: blink 1s step-end infinite;
  margin-bottom: 1rem;
}

/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-right-color: transparent; /* Cursor becomes invisible */
  }
  100% {
    border-right-color: orange; /* Cursor reappears */
  }
}

.particles__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iceland-regular {
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
}

.header__cta {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.ui-btn {
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --font-size: 16px;
  --font-weight: 400;
  --font-family: Menlo, Roboto Mono, monospace;
}

.ui-btn {
  box-sizing: border-box;
  padding: 0.6rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-weight) var(--font-size) var(--font-family);
  background-color: var(--color-primary) !important;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 5px;
}

.ui-btn a {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
  color: var(--color-white);
  font-weight: bold;
}

.ui-btn a::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--color-primary);
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
}

.ui-btn:hover a,
.ui-btn:focus a {
  color: var(--color-secondary);
}

.ui-btn:hover a::before,
.ui-btn:focus a::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
.button-wrapper {
  display: inline-block;
  position: relative;
}

.header__socials {
  position: fixed;
  left: 1rem;
  top: 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
  opacity: 0;
  transition: 1s ease-in;
}

.header__socials.show {
  opacity: 1;
  transition: 1s ease-in;
}

.header__socials a {
  width: 3.8rem;
  height: 3.8rem;
  background: var(--color-primary);
  color: var(--color-secondary);
  display: grid;
  place-items: center;
  border-radius: var(--border-radius-3);
}

.header__socials a:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
  transform: translateX(0.5rem);
  border: 2px solid;
  border-color: var(--color-primary);
}

.header__socials .social-icon {
  font-size: 1.5rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    height: 100vh;
  }

  /* .header__socials {
    display: none;
  } */
  .header__cta {
    margin-bottom: 4rem;
  }
  .ui-btn {
    padding: 0.75rem !important;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  /* .header__profile {
    width: 14rem;
    height: 17rem;
    max-width: 60%;
    max-height: 35vh;
  } */

  .myName {
    font-size: 2rem;
    width: 75%;
  }

  .header__cta {
    gap: 0.7rem;
  }

  .header__cta a {
    font-size: 0.7rem;
    padding: 0.75rem;
  }

  .header__socials {
    left: 0.2rem;
    gap: 0.5rem;
  }

  .header__socials a {
    height: 2rem;
    width: 2rem;
  }

  .header__socials .social-icon {
    font-size: 0.85rem;
  }
  .desc_p {
    margin-top: 5px !important;
    font-size: 1.2rem !important;
  }
  .header__container h1 {
    text-align: center;
  }
  .ui-btn {
    padding: 0 !important;
  }
  .ui-btn a {
    color: var(--color-black);
  }
}
