header {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  background: var(--color-white);
  transition: var(--transition);
}

.particles__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__container p {
  width: 35rem;
  text-align: center;
  margin: 0.6rem 0 2rem;
}

.header__cta {
  margin-top: -1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__socials {
  position: fixed;
  left: 2rem;
  top: 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
  opacity: 0;
  transition: 1s ease-in;
}

.header__socials.show {
  opacity: 1;
  transition: 1s ease-in;
}

.header__socials a {
  width: 2.8rem;
  aspect-ratio: 1/1;
  background: var(--color-primary);
  color: var(--color-light);
  display: grid;
  place-items: center;
  border-radius: var(--border-radius-3);
}

.header__socials a:hover {
  background: var(--color-light);
  color: var(--color-primary);
  transform: translateX(0.5rem);
  border: 2px solid;
  border-color: var(--color-primary);
}

.header__socials .social-icon {
  font-size: 1.2rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    height: 100vh;
  }

  .header__socials {
    display: none;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .header__profile {
    width: 14rem;
    height: 17rem;
    max-width: 60%;
    max-height: 35vh;
  }

  .header__container p {
    width: 100%;
  }

  .header__cta {
    gap: 1rem;
  }

  .header__socials {
    display: none;
  }

  .header__container h1 {
    text-align: center;
  }
}
