.card {
  background: var(--color-white);
  padding: 0rem;
  padding-inline: 0rem;
  border: 2px solid transparent;
  /* border-radius: var(--border-radius-1); */
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  background: transparent;
}

.card.light {
  background: var(--color-light);
}

.card.light:hover {
  background: transparent;
  border-color: var(--color-light);
}

@media screen and(max-width:600px) {
  .card {
    padding: 0.5rem;
  }
}
