.nav__container {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in, transform 1s ease-in-out,
    background-color 1s ease-in-out;
  height: 100vh;
  width: 6.5rem;
}

.nav__container.show {
  background-color: var(--color-primary);
  z-index: 100;
  transform: translateX(0);
  opacity: 1;
}

/* CV Link Styling */
.cv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: auto;
  margin-top: 1rem;
}

.cv:hover {
  color: var(--color-black);
}

.icon {
  font-size: 1.5rem;
}

/* Menu List */
.nav__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.nav__menu li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav__menu li a:hover {
  color: var(--color-black);
}

/* Right Section */

.nav__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 1rem;
}

.theme__icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.theme__icon:focus {
  border: none;
}

.theme__icon:hover {
  color: var(--color-black);
  background-color: var(--color-primary);
  transform: scale(1.15);
}

.line {
  color: var(--color-white);
  font-size: 1.8rem;
}

.nav__logo {
  font-size: 1.2rem;
  color: var(--color-white);
  font-weight: normal;
}
.nav__logo:hover {
  transform: scale(1.15);
  border-radius: 50%;
  border: 2px solid var(--color-black);
}

@media (max-width: 1080px) {
  .nav__menu li:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav__container {
    display: none;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav__menu {
    display: none; /* Hide menu for smaller screens */
  }

  .nav__right {
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 1rem;
  }

  .cv {
    font-size: 1.5rem;
    padding: 0.1rem;
  }

  .icon {
    font-size: 1.9rem;
  }
}
