* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 20%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: hsl(var(--primary-hue), 100%, 20%);
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  /* GENERAL CONTAINER VARIABLES */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  /* BORDER RADIUS VARIABLES */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* GENERAL TRANSITION VARIABLE */
  --transition: all 500ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  cursor: default;
}

main.color-1 {
  --color-primary: #ab8e30; /* Midpoint of #485563 and #29323c */
  --color-secondary: #0e512c;
}

main.color-2 {
  --color-primary: #5b670e; /* Midpoint of #414d0b and #727a17 */
  --color-secondary: #d4e157;
}

main.color-3 {
  --color-primary: #9e6370; /* Midpoint of #b77b8d and #804b5b */
  --color-secondary: #f48fb1;
}

main.color-4 {
  --color-primary: #933131; /* Midpoint of #a73737 and #7a2828 */
  --color-secondary: #ff8a65;
}

main.color-5 {
  --color-primary: #385577; /* Midpoint of #4b79a1 and #283e51 */
  --color-secondary: #81d4fa;
}

main.color-6 {
  --color-primary: #0d5247; /* Midpoint of #116658 and #0b453c */
  --color-secondary: #aed581;
}

main.bg-2 {
  --black-lightness: 96%;
  --dark-lightness: 60%;
  --light-lightness: 12%;
  --white-lightness: 6%;
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  --color-tertiary: hsl(var(--primary-hue), 55%, var(--dark-lightness));
}
main.bg-1 {
  --black-lightness: 10%;
  --dark-lightness: 20%;
  --light-lightness: 90%;
  --white-lightness: 95%;
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-tertiary: hsl(var(--primary-hue), 55%, var(--dark-lightness));
}

main {
  color: var(--color-dark);
  --color-primary: hsl(var(--primary-hue), 89%, 41%);
  --color-secondary: hsl(var(--primary-hue), 89%, 41%);
}

/* GENERAL CONTAINER CLASS */
.container {
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}

/* GENERAL SECTION STYLES */
section {
  padding: 4rem 0 0 0;
  height: 100vh;
  background: var(--color-light);
  transition: var(--transition);
}

section:nth-child(even) {
  background: var(--color-white);
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}

/* GENERAL SECTION STYLES */
a {
  color: var(--color-white);
  transition: var(--transition);
}

/* GENERAL HEADING STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--color-black);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.95rem;
}

h6 {
  font-size: 0.8rem;
}

/* GENERAL IMAGES STYLES */
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* GENERAL BUTTON STYLES */
.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 2.5rem;
  border: 1.5px solid transparent;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--color-dark);
  transform: translateY(-0.5rem);
  color: var(--color-dark);
}

.btn.white {
  background: var(--color-white);
}

.btn.white:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.btn.primary {
  border: none;
  background: var(--color-primary);
  /* text color always white that's why i didn't use a variable color */
  color: var(--color-light);
  font-weight: bolder;
}

.btn-primary a {
  font-size: large;
}

.btn.primary:hover {
  background: transparent;
  border: 1px solid;
  border-color: var(--color-primary);
  color: var(--color-black);
}

.btn.sm {
  padding: 0.5rem 1.2rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1724px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: var(--container-width-md);
  }

  section > p {
    width: 72%;
    margin-bottom: 3rem;
  }

  /* h1 {
    font-size: 2rem;
  } */
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.1rem;
  }

  p {
    font-size: 1.05rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  .btn {
    padding: 0.4rem 1rem;
  }

  section > p {
    width: var(--container-width-md);
  }
  section {
    width: 100vw;
  }
}
